[package]
  name    = "milo"
  version = "0.2.0"
  edition = "2021"
  publish = false

[lib]
  crate_type = ["cdylib", "staticlib", "lib"]

[features]
  debug = []

[dependencies]
  milo-macros = { path = "../macros" }

[profile.bench]
  opt-level        = 3
  debug            = false
  debug-assertions = false
  overflow-checks  = false
  lto              = false
  incremental      = false
  codegen-units    = 16
  rpath            = false
  strip            = true

[profile.release]
  opt-level        = 3
  debug            = false
  debug-assertions = false
  overflow-checks  = false
  lto              = true
  panic            = 'abort'
  incremental      = false
  codegen-units    = 16
  rpath            = false
  strip            = true
